[submodule "bonfire-backend"]
	path = bonfire-backend
	url = https://github.com/Lucas-Ribeiro-Lima/Bonfire-Backend.git
[submodule "bonfire-frontend"]
	path = bonfire-frontend
	url = https://github.com/Lucas-Ribeiro-Lima/Bonfire-Frontend.git
